
* {
	margin: 0;
}
.ui.horizontal.divider {
	margin: 0.5rem 0rem 0rem 0rem;
}

.ui.grid .row+.ui.divider{
	margin: 0.5rem 0rem 0rem 0rem;
	
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.overlay_wrapper{
	float:left; /* important */
	position:relative; /* important(so we can absolutely position the description div */
}
div.overlay_description{
	position:absolute; /* absolute position (so we can position it where we want)*/
	bottom:0px; /* position will be on bottom */
	left:0px;
	width:100%;
	/* styling bellow */
	/* background-color:black;
	color:white;*/
	opacity:1.0; /* transparency */
	filter:alpha(opacity=100); /* IE transparency */
}

.overlay_description_content{
	padding:3px;
	margin:0px;
	font-size: 30px;
}
